/.idea/.idea.WUGdays_CRUD_CQRS.dir/.idea/.gitignore
/University_CQRS/.idea/.idea.University_CQRS/.idea/.gitignore
/University/University/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/University/University/ClientApp/node_modules/.cli-ngcc/36f31de5b83e3802bf227dd8c4ba0a9fe5f206ca2e887665640451155b1dc93a.lock
/University_CQRS/University/ClientApp/node_modules/.cli-ngcc/a83efacdea809f1cd205558d96ddbdbe3ef24ee0ffffb8ddd1b6a224ec43ad65.lock
/University/University/obj/Debug/net6.0/apphost
/University/University/bin/Debug/net6.0/appsettings.Development.json
/University/University/bin/Debug/net6.0/appsettings.json
/.idea/.idea.WUGdays_CRUD_CQRS.dir/.idea/encodings.xml
/University_CQRS/.idea/.idea.University_CQRS/.idea/encodings.xml
/University/University/bin/Debug/net6.0/f61d23193744440f876e2609c8983fb3.sh
/University_CQRS/.idea/.idea.University_CQRS/.idea/indexLayout.xml
/University/University/bin/Debug/net6.0/Microsoft.AspNetCore.SpaProxy.dll
/University/University/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/University/University/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/University/University/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
/University/University/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/University/University/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/University/University/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/University/University/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/University/University/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/University/University/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/University/University/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
/University/University/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/University/University/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
/University/University/bin/Debug/net6.0/Microsoft.Identity.Client.dll
/University/University/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/University/University/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/University/University/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/University/University/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/University/University/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/University/University/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/University/University/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/University/University/obj/project.assets.json
/University/University/obj/project.nuget.cache
/University/University/obj/project.packagespec.json
/University/University/obj/rider.project.restore.info
/University/University.Contracts/obj/rider.project.restore.info
/University/University.Persistence/obj/rider.project.restore.info
/University_CQRS/University.Contracts/obj/rider.project.restore.info
/University_CQRS/University.Persistence/obj/rider.project.restore.info
/University/University/bin/Debug/net6.0/spa.proxy.json
/University/University/obj/Debug/net6.0/spa.proxy.json
/University/University/obj/Debug/net6.0/staticwebassets.build.json
/University/University/obj/Debug/net6.0/staticwebassets.development.json
/University/University/obj/staticwebassets.pack.sentinel
/University/University/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/University/University/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/University/University/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/University/University/bin/Debug/net6.0/System.Drawing.Common.dll
/University/University/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/University/University/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/University/University/bin/Debug/net6.0/System.Runtime.Caching.dll
/University/University/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/University/University/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/University/University/bin/Debug/net6.0/System.Security.Permissions.dll
/University/University/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/University/University/bin/Debug/net6.0/System.Windows.Extensions.dll
/University/University/bin/Debug/net6.0/University
/University/University/obj/Debug/net6.0/University.AssemblyInfo.cs
/University/University/obj/Debug/net6.0/University.AssemblyInfoInputs.cache
/University/University/obj/Debug/net6.0/University.assets.cache
/University/University/bin/Debug/net6.0/University.Contracts.dll
/University/University/bin/Debug/net6.0/University.Contracts.pdb
/University/University/obj/Debug/net6.0/University.csproj.AssemblyReference.cache
/University/University/obj/Debug/net6.0/University.csproj.CopyComplete
/University/University/obj/Debug/net6.0/University.csproj.CoreCompileInputs.cache
/University/University/obj/Debug/net6.0/University.csproj.FileListAbsolute.txt
/University/University/obj/University.csproj.nuget.dgspec.json
/University/University/obj/University.csproj.nuget.g.props
/University/University/obj/University.csproj.nuget.g.targets
/University/University/bin/Debug/net6.0/University.deps.json
/University/University/bin/Debug/net6.0/University.dll
/University/University/obj/Debug/net6.0/ref/University.dll
/University/University/obj/Debug/net6.0/refint/University.dll
/University/University/obj/Debug/net6.0/University.dll
/University/University/obj/Debug/net6.0/University.GeneratedMSBuildEditorConfig.editorconfig
/University/University/obj/Debug/net6.0/University.genruntimeconfig.cache
/University/University/obj/Debug/net6.0/University.GlobalUsings.g.cs
/University/University/obj/Debug/net6.0/University.MvcApplicationPartsAssemblyInfo.cache
/University/University/bin/Debug/net6.0/University.pdb
/University/University/obj/Debug/net6.0/University.pdb
/University_CQRS/University.Persistence/obj/Debug/net6.0/University.Persistence.csproj.AssemblyReference.cache
/University/University/bin/Debug/net6.0/University.Persistence.dll
/University/University.Persistence/bin/Debug/net6.0/University.Persistence.dll
/University/University.Persistence/obj/Debug/net6.0/University.Persistence.dll
/University/University/bin/Debug/net6.0/University.Persistence.pdb
/University/University.Persistence/bin/Debug/net6.0/University.Persistence.pdb
/University/University.Persistence/obj/Debug/net6.0/University.Persistence.pdb
/University/University/obj/Debug/net6.0/University.RazorAssemblyInfo.cache
/University/University/obj/Debug/net6.0/University.RazorAssemblyInfo.cs
/University/University/bin/Debug/net6.0/University.runtimeconfig.json
/University/University.sln.DotSettings.user
/University/University/bin/Debug/net6.0/University.staticwebassets.runtime.json
/University_CQRS/University_CQRS.sln.DotSettings.user
/University_CQRS/.idea/.idea.University_CQRS/.idea/vcs.xml
