<div class="card" style="margin-top: 50px;">
  <div class="card-header">
    <h1 id="tableLabel">Students - CRUD approach</h1>
  </div>
  <div class="card-body">
    <p *ngIf="!students"><em>Loading...</em></p>
    <div>
      <button type="button" class="btn btn-primary" style="margin-right: 5px;" (click)="openAddStudentModal()">Add
        student
      </button>
      <button type="button" style="margin-right: 5px;" [hidden]="HighlightRow == undefined" class="btn btn-light"
              (click)="openUpdateStudentModal()">Update student
      </button>
      <button type="button" [hidden]="HighlightRow == undefined" class="btn btn-link" (click)="deleteStudent()">
        Delete student
      </button>
    </div>

    <table class='table table-striped table-hover' aria-labelledby="tableLabel" *ngIf="students">
      <thead>
      <tr>
        <th>SSN</th>
        <th>Name</th>
        <th>Email</th>
        <th>First course</th>
        <th>Second course</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students; let i = index" (click)="rowSelected(student, i)"
          [class.active]="i == HighlightRow">
        <td>{{ student?.ssn }}</td>
        <td>{{ student?.name }}</td>
        <td>{{ student?.email }}</td>
        <td>
          <div *ngIf="student?.course1">
            <div>{{ student?.course1 }}</div>
            <div>{{ 'Grade: ' + student?.course1Grade }}</div>
            <div>{{ 'Credits: ' + student?.course1Credits }}</div>
          </div>
        </td>
        <td>
          <div *ngIf="student?.course2">
            <div>{{ student?.course2 }}</div>
            <div>{{ 'Grade: ' + student?.course2Grade }}</div>
            <div>{{ 'Credits: ' + student?.course2Credits }}</div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
